{% extends "base.html" %}
{% block title %}Search Results{% endblock %}
{% block content %}
    <form action="{{ url_for('search') }}" method="post" class="mb-6">
        <label class="block font-bold mb-2 text-gray-700" for="query">Enter your search query here</label>
        <div class="relative rounded-md shadow-sm">
            <input type="text"
                   class="form-input py-3 px-4 block w-full leading-5 rounded-md transition duration-150 ease-in-out sm:text-sm sm:leading-5"
                   id="query" name="query" placeholder="Enter your search query here">
        </div>
        <button class="mt-4 button-6" type="submit" id="searching">Search</button>
    </form>
    <ul class="list-group mt-3 mb-5" id="list_output">
        {% for result in search_results %}
            <li class="list-group-item"><a href= {{ result }}>{{ result }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
